footer
	span(1)
	position relative
	background $darkblue
	color $primary
	display flex
	justify-content space-between
	align-items center
	padding ($gutter/2) $gutter
	z-index 2
	+below($sm)
		flex-wrap wrap
		padding ($gutter/2) 2vw
		font-size 1rem
	&::after
		display none
	.newsletter
		flex 0 1 25%
		+below($sm)
			flex 0 1 50%
			margin-left 25%
			margin-bottom 1rem
		.button
			display inline-block
	.credits
		position absolute
		align()
		bottom 1rem
		text-align center
	.socials
		flex 1 1 auto
		justify-content center
		+below($sm)
			flex 0 1 auto
		a
			width 3.2em
			height 3.2em
			background $darkblue
			&:first-child
				margin-left 0
	.footer-buttons
		flex 0 1 25%
		display inline-flex
		justify-content flex-end
		a
			width 5rem
			height 5rem
			padding 0.7rem
			+below($sm)
				width 3.2em
				height 3.2em
			&:not(:last-child)
				margin-right 1rem
