body,html
	width 100%
	background $primary

*
	box-sizing(border-box)

video
	&::-webkit-media-controls,
	&::-webkit-media-controls-play-button,
	&::-webkit-media-controls-volume-slider,
	&::-webkit-media-controls-mute-button,
	&::-webkit-media-controls-timeline,
	&::-webkit-media-controls-current-time-display
		display none

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.lazy, .plyr, .slider
	transition opacity 100ms ease
	opacity 0

.lazy.lazyloaded, .lazy.flickity-lazyloaded, .slider.flickity-enabled
	opacity 1

.embed__thumb>img
	opacity 1
	max-width 65px

.responsive-image
	hideselect()
	position relative
	overflow hidden
	img
		position absolute
		top 0
		left 0

#main
	span(1)

#container
	span(1)
	overflow hidden
	+above($sm + 1)
		// padding-left 21.9vh
		padding-left 11.3vh
	+below($sm)
		// padding-top 26.6vw
		padding-top 14vw

#page-content
	span(1)
	min-height 100vh

.hidden
	display none

.invert
	filter: invert(1)

hr
	border none
	height 1px
	background currentColor

body.is-loading
	#page-content
		opacity 0
		transition opacity 100ms ease
