// Media queries
$xxl = 1920px
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

$kinetic = cubic-bezier(0.77, 0, 0.175, 1)

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Header
$header-height = 9rem
$menu-spacer = 1rem

// Metrics
$padding = 1vh
$gutter = 3rem
$spacer = 7.7rem
$text-padding = 1.2rem

// Colors
$lightblue = #e5edff
$darkblue = rgb(24,42,71)
$lightyellow = rgb(255,254,226)
$blue = rgb(73,109,195)
$violet = rgb(155,162,228)
$ghostwhite = rgb(248,248,255)
$grey = rgb(174,183,204)
$red = #e57066
